.FeatureSection {
    /* border: 1px solid red; */
    height: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FeatureSection__content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 31vw;
}

.FeatureSection__heading {
    font-weight: 600;
    line-height: 1.3;
}

.FeatureSection__para {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.05vw;
}

.FeatureSection__content__btns {
    width: 100%;
    display: flex;
    gap: 4vw;
}

.btn {
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-width: 2px;
    border-style: solid;
}

.btn1 {
    background-color: var(--bg-btn-clr);
    border-color: var(--bg-btn-clr);
    color: white;
    text-decoration: none;
}

.btn1:hover {
    transform: scale(1.05);
}

.btn2 {
    background-color: var(--bg-color);
    border-color: black;
}

.btn:hover {
    transform: scale(1.05);
}

.FeatureSection__image {
    /* border: 1px solid green; */
    width: 40vw;
}

/* ProfileImage */
.ProfileImage {
    width: 35vw;
    object-fit: cover;
    border-radius: 40%;
    margin: 10px 5px 5px 2px;
}

/* Card Container */

.CardContainer {
    /* border: 1px solid blue; */
    height: 34vw;
    height: calc(100% - 20px);
    padding-left: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    margin: 3vw 0;
}

.CardContainer::before {
    position: absolute;
    content: "";
    width: 98%;
    height: 100%;
    z-index: -1;
    bottom: -15px;
    left: 5px;
    border-radius: 20px;
    background-color: var(--bg-card);
    box-shadow: 10px 5px 20px var(--bg-cardShadow);
}

/* WorkFlow Section */
.WorkFlow {
    padding: 3vw;
    height: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10vw; */
}

.Left__Hand {
    border: 1px solid/ blue;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vw;
}

.WorkFlow__image {
    width: 30vw;
}

.Right__Hand {
    /* border: 1px solid red; */
    width: 37vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;
    align-items: start;
}

.Line {
    border-top: 2px solid #d0d0d0;
    width: 100%;
    margin: 2vw 0 2vw 0;
}

.StepHeading {
    font-size: 2vw;
    font-weight: 600;
}

.StepPara {
    font-size: 1vw;
}


/* Responsiveness */
@media screen and (max-width: 768px) {

    .FeatureSection__para {
        font-size: 1.5vw;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .FeatureSection__content {
        width: 35vw;
    }

    .btn {
        padding: 5px 10px;
    }

    .CardContainer::before {
        bottom: -8px;
        left: 2px;
    }

    .WorkFlow {
        height: 42vw;
    }

    .StepPara {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 480px) {
    .FeatureSection {
        height: 60vw;
    }

    .FeatureSection__para {
        font-size: 2.3vw;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 15px;
    }

    .FeatureSection__content {
        width: 40vw;
    }

    .btn {
        font-size: 2vw;
        padding: 3px 7px;
        border-width: 1px;
    }

    .CardContainer {
        height: calc(100% - 10px);
        padding-left: 5px;
        border-radius: 5px;
    }

    .CardContainer::before {
        bottom: -6px;
        border-radius: 5px;
    }

    .WorkFlow {
        height: 45vw;
    }

    .StepPara {
        font-size: 1.5vw;
    }

    .Line {
        border-top: 1px solid #d0d0d0;
    }
}