:root {
  --bg-color: #ededed;
  --bg-btn-clr: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0 10vw;
  position: relative;
}

.link {
  text-decoration: none;
  color: inherit;
}