:root {
  --bg-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.bred {
  border: 1px solid red;
}

.bgreen {
  border: 1px solid green;
  ;
}

.bblue {
  border: 1px solid blue;
  ;
}

.bpurple {
  border: 1px solid purple;
}