:root {
  --bg-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0 10vw;
  position: relative;

  /* dev properties should be removed at the end */
  height: 50vh;
}

.link {
  text-decoration: none;
  color: inherit;
}